.user-layout {
  width: 85%;
  margin: auto;
  display: flex;

  .info-user {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .bio {
      margin-bottom: 2rem;

      h1 {
        font-size: 3rem;
        font-family: "Montserrat", sans-serif;
        color: #ff6060;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1.2rem;
        font-family: "Montserrat", sans-serif;
        color: #ff6060;
        font-weight: 500;
      }
    }

    .tags-box {
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          padding: 0.4rem 1rem;
          margin-bottom: 5px;
        }
      }
    }
  }

  .user-rating {
    width: 50%;
    // margin: 2rem auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .image {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .name-details {
        width: 100px;
        display: flex;
        align-items: center;

        p {
          font-family: "Montserrat", sans-serif;
          color: #ff6060;
          font-weight: 500;
          font-size: 1.3rem;
          display: flex;
          flex-wrap: wrap;
          text-align: right;
          padding-right: 10px;
        }
      }

      .image-details {
        width: 75px;
        height: 75px;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        align-items: center;

        img {
          width: 100%;
        }
      }
    }

    .stars {
      ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
      }
    }
  }
}

.description {
  width: 85%;
  margin: 2rem auto 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10rem;
  margin-top: 2rem;

  &-1 {
  }

  &-2 {
  }
}

@media screen and (max-width: 760px) {
  // User Info
  .info-user {
    .bio {
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }

    .image {
      .name-details {
        p {
          font-size: 1rem;
        }
      }
      .image-details {
        width: 60px;
        height: 60px;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  // User Info
  .info-user {
    .bio {
      h1 {
        font-size: 2rem !important;
      }
      p {
        font-size: 1rem;
      }
    }

    .tags-box {
      ul {
        li {
          padding: 0.5rem 0.5rem !important;
        }
      }
    }
  }

  .user-rating {
    .image {
      .name-details {
        p {
          font-size: 1rem !important;
        }
      }
      .image-details {
        width: 60px !important;
        height: 60px !important;
      }
    }
  }

  // Collapse
  .description {
    column-gap: 3rem;
  }
}

@media screen and (max-width: 560px) {
  // User Info
  .user-layout {
    flex-direction: column;

    .info-user {
      width: 100%;
      margin-bottom: 1.5rem;
    }

    .user-rating {
      width: 100%;
      flex-direction: row-reverse;

      .stars {
        display: flex;
        align-items: center !important;
      }
    }
  }

  .description {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 380px) {
  // User Info
  .info-user {
    .tags-box {
      ul {
        li {
          padding: 0.2rem 0.2rem;
        }
      }
    }
  }
}
