.tags {
  background-color: #ff6060;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-right: 1rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 0 2rem;
}
