.footer {
  width: 100%;
  padding: 3.5rem;
  display: flex;
  background-color: black;
  justify-content: center;

  .centered {
    text-align: center;

    img {
      margin-bottom: 1rem;
    }

    p {
      color: white;
      text-align: center;
      font-family: "Montserrat", sans-serif;
    }
  }
}
